#main{
    border: 1px solid black;
    margin: 10% 38% 10% 38%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    border-radius: 2vh;
}
#header section input{
    display: inline;
    border-radius: 2vh;
}
button{
    border-radius: 1vh;
    cursor: pointer; 
}

.header{
    margin-top:1%;
    text-align: center;
}
#item{
    
    padding: 1% 21% 1% 21%;
}

